/**------------------------------------------------------------------
[Table of Contents]
*Organized from top to bottom

1. Background / #Background
2. Profile Pic / #Profile
3. Course Listing / #Courses
4. Explore & Enroll tabs / #Tabs
5. Course Page Styling
------------------------------------------------------------------**/

/* #Background
================================ */
body{
    background-color: #dae3e7 ;
}

/* #Profile
================================ */
.user-bio{
    margin-right: 20px;
}

.header{
    text-align: center;
}

.profile.center {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.user {
	text-align: center;
    margin-top: 10px;
}

#profile-info{
    background-color: #dae3e7;
    text-align: center;
    margin-bottom: 15px;
}

#profile-page-icon{
    height:160px;
}

/* #Courses
================================ */

.course-listing {
	text-align: center;
}

/* ======= Sections======= */
.section {
  background: #dae3e7;
  padding: 10px;
  margin: 8px;
}
.section .heading {
  color: #545e69;
  font-size: 24px;
}

/* =======status======= */
.class-status{
    vertical-align: middle;
}

/* =======Add Drop Buttons======= */
.divider{
    height: 10px;
}

.add-drop-buttons{
    text-align: center;
}



/* Course Page Styling
================================ */
/*[Table of Contents]
*Organized from top to bottom

1. General Properties
2. Header of Page
3. Video Container
4. Progress Bar and individual lectures
5. Class note and discussion tabs
------------------------------------------------------------------**/
/* #General Prop
================================ */
/*body {
    background-color: rgb(209, 220, 205);
}*/

/* #coursepage-header
================================ */
.coursepage-header{
    text-align: center;
    font-family: 'Roboto', 'sans-serif';

}

.img-circle{
    vertical-align: bottom;
    height: 50px;
    margin-bottom: 20px;
}

#course-page-header{
    vertical-align: top;
}

/* #progress bar
================================ */
#progress-bar{
    margin-top: 20px;
}

.progress {
    background: rgba(245, 245, 245, 1);
    border: 0px solid rgba(245, 245, 245, 1);
    border-radius: 0px; height: 20px;
}
.progress-bar-course {
    background: rgba(69, 201, 65, 1);
}

/* #video-container
================================ */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#course-video-container.stick{
    position: fixed;
    top: 0;
    z-index: 10000;
}

/* #Progress Bar
================================ */

/* #Class note and discussion tabs
================================ */
.sections-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section {
  margin-bottom: 30px;
}
.section .section-inner {
  background: #fff;
  padding: 30px;
  margin-bottom: 30px;
}
.section .heading {
  margin-top: 0;
  margin-bottom: 30px;
  color: #545e69;
  font-size: 24px;
}

.tab-content{
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
}

.nav-tabs{
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.section .section-inner .content{
  text-align: justify;
}


/* Edit Course Page Styling
================================ */
/*[Table of Contents]
*Organized from top to bottom

1. General Properties
2. Header of Page
3. General info for course
3. Container for each lecture
4. Button to add lectures
------------------------------------------------------------------**/

/* General Properties
================================ */

/* Header of Page
================================ */
.edit-course-header{
    text-align: center;
    margin-bottom: 10px;
}

/* General info for course
================================ */
.general-course-info{
    margin-left: 20px;
    margin-right: 20px;
}

.general-course-info h4{
    margin-left: 10px;
}

/* General info for course
================================ */
/* Refer to .section */

/* Add lecture button
================================ */
#add-lecture-btn{
    position: fixed;
    bottom: 20px;
    right:20px;
}

#finish-edit-lecture-btn{
    position: fixed;
    bottom: 20px;
    left:20px;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
