/**------------------------------------------------------------------
[Table of Contents]
*Organized from top to bottom 

1. Background / #Background
2. Profile Pic / #Profile
3. Course Listing / #Courses
4. Explore & Enroll tabs / #Tabs
------------------------------------------------------------------**/

/* #Background
================================ */


/* #Profile
================================ */

.profile.center {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.user {
	text-align: center;
}