/**------------------------------------------------------------------
[Table of Contents]
*Organized from top to bottom

1. Background / #Background
2. Profile Pic / #Profile
3. Course Listing / #Courses
4. Explore & Enroll tabs / #Tabs
5. Course Page Styling
------------------------------------------------------------------**/

/* #Background
================================ */


/* #Profile
================================ */

.profile.center {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.user {
	text-align: center;
}

/* Course Page Styling
================================ */
.header{
    text-align: center;
    padding-bottom: 10px;
}

.tab-content{
    padding-left: 20px;
    padding-right: 20px;
}

.nav-tabs{
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
